BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 110
DerivePointerAlignment: false
PointerAlignment: Left
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignTrailingComments: true
